@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

canvas {
    margin-right: 30px;
    border: 1px solid black; 
}

#num-points {
    width: 50px;
}


#legend{
    border: 1px solid grey;
    padding: 10px;
}

.color {
    display: inline-block;
    width: 40px;
    height: 15px;
}

.grey {
    background-color: #eeeeee;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#accuracy {
    font-weight: bold;
}